* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --articleColor: #f3f3f3;
  --backgroundColor: #1b262c;
  font-family: "Baloo Thambi 2", cursive;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  background: var(--backgroundColor);
  padding: 10px;
}

.content > div {
  background: var(--articleColor);
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
}

.compTitle {
  margin: 10px;
  text-align: center;
  letter-spacing: 1.5px;
}
